
        header{
            background-color: rgb(20, 19, 19);
            padding: 24px;
            width: 100%;
            position: relative;

        }
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color:rgb(213, 164, 29);
            margin: 0;
            padding: 0;
        }
        h1 {
            margin-top: 20px;
            font-size: 60px;
            font-style:initial ;
            color: white;
        }
        .container {
            display:inline;
            align-items: center;
            justify-content: flex-start;
            margin-left: 40px;
            gap: 10px; 
        }
        .profile-pic {
            width: 350px;
            height: 500px;
            background: unset;
            position: absolute;
            left: 0;
            top: 63%; 
            transform: translateY(-50%); 
        }
        .profile-box {
            position: absolute;
            left: 400px;
            top: 430px;
            border: 2px solid black;
            padding: 100px;
            border-radius: 10px;
            box-shadow: 3px 3px 10px gray;
            width: 850px;
            background-color: white;
            text-align: left;
            overflow: hidden; 
    word-wrap: break-word;
    box-shadow: 0 0  15px 15px rgba(199, 16, 16, 0.7);
        }
        .profile-box:hover{
            background-color: black;
            color: white;
            border-top-right-radius: 20px;
            transform: scale(1.1);
            box-shadow: 0 0  15px 15px rgba(14, 168, 19, 0.8);
            
        }
        .obj{
            position: absolute;
            left: 20px;
            top: 10%;
            margin: 0;
            font-weight: bold;
            font-size: 30px;
        }
        .obj_1{
            position: absolute;
            line-height:30px;
            left: 140px;
            top: 28%;
            margin: 0;
            font-weight: normal;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-style:normal;
            font-size: 21px;
            white-space: pre-wrap; 
        }
        
        .edu {
            text-align: left;
        }
        nav ul {
    list-style: none;
    padding: 0;
    text-align: center; 
}

nav ul li {
 
    display: inline-block;
    margin: 0 15px;
    padding: 10px 15px;
    background: #eeefeb;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
    transition: background 0.3s ease, transform 0.3s ease;
}

nav ul li:hover {
    background: rgb(35, 192, 10); 
    border-radius: 20px; 
    transform: scale(1.2); 
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: block; 
    padding: 10px 15px;
    transition: color 0.3s ease;
}

nav ul li:hover a {
    color: white; 
}
.logo {
    position: absolute;
    right: 38px;
    top: 60%;
    transform: translateY(-50%); 
}

.logo-pic {
    width: 200px; 
    height: 130px;
    border-radius: 40%; 
    object-fit: cover; 
    background-color:transparent;
    mix-blend-mode: multiply; 
}
.linkedin-container {
    position: absolute;
    top: 38.5%; 
    right: 665px; 
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 10px; /
}

.linkedin-container a {
    color: white;
    text-decoration: none;
    right:250px;
    font-size: 18px;
}
.linkedin-container a:hover {
    color: rgb(25, 157, 213);
    text-decoration: none;
   transition:scale(1.4);
}

.fa-brands.fa-linkedin {
    font-size: 30px;
    color: #0077b5;
}
.linkedin-png {
    position:absolute;
    border-radius: 24px;
    top:0;
    right: 350px;
    width: 23px; 
    height: 20px;
    margin-right: 5px; 
}
.linkedin-png:hover {
    border-radius: 20px;
    transform: scale(1.4);
    
}
.github-container a{
    position: absolute;
    color:white;
    text-decoration: none;
    right:1050px;
    font-size: 18px;
    top: 140px;
    
}
.github-container a:hover {
    color: rgb(202, 59, 34);
    text-decoration: none;
   transition:scale(1.4);
}
.github-png{
    border-radius: 40px;
    position: absolute;
    width: 40px;
    height: 20px;
    top:0px;
    right: 325px;
    margin-left: 10px;
}
.github-png:hover{
    border-radius: 40px;
    transform: scale(1.4);
}
.insta-container a{
    position: absolute;
    color:white;
    text-decoration: none;
    right:250px;
    font-size: 18px;
    top: 138px;
    
}
.insta-container a:hover {
    color: rgb(230, 7, 178);
    text-decoration: none;
   transition:scale(1.4);

}
.insta-png{
    position: absolute;
    width: 20px;
    height: 20px;
    top:0px;
    right: 400px;
    margin-left: 1px;
}
.insta-png:hover{
    transform: scale(1.4);
    border-radius: 40px;
}
.location-info{
    text-align: left;
    margin-left: 300px;
    position: absolute;
    bottom: 160px;
    padding-left: -15px;
    letter-spacing: 5px;
    font-size: 30px;
    color: white ;
 }
 .location-info a {
    color: yellow; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease-in-out; 
}

.location-info a:hover {
    color: rgb(240, 27, 144); 
}
    .contact-info{
      text-align: left;
        margin-left: 550px;
        margin-top: 20px;
        font-size: 30px;
        color: white;
    }
    .contact-info a {
        color: yellow; 
        text-decoration: none;
        font-weight: bold; 
        transition: color 0.3s ease-in-out; 
    }
    
    .contact-info a:hover {
        color: rgb(81, 237, 38); 
    }
    
    .mail-info{
        color: white;
        position: absolute;
        top: -40px;
        text-align: left;
       position: relative;
        margin-left: 870px;
        font-size: 30px;
        
    }
    .mail-info a {
        color: yellow; 
        text-decoration: none; 
        font-weight: bold;
        transition: color 0.3s ease-in-out; 
    }
    
    .mail-info a:hover {
        color: rgb(14, 229, 237); 
    }
    .con:hover{
        cursor: pointer;
        transform: scale(1.4);
    }
    #scrollToTopBtn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #0077b5;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 50%;
        font-size: 25px;
        cursor: pointer;
        display: none; 
        transition: opacity 0.3s;
        
    }
    
    #scrollToTopBtn:hover {
        background-color: #f64f0d;
    }

    .index{
        position: absolute;
        background-color: white;
        font-size: 20px;
        padding: 4px;
        bottom: 0px;
        right: 10px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: background 0.3s ease, transform 0.3s ease;
    }
    .index:hover{
        background-color: #17d52e;
        transform: scale(1.2);
    }